.container {
   max-width: 960px;
    margin: 10px auto; 
   padding: 10px; 
   display: grid; 
   grid-template-columns: repeat(autofill,minmax(200px,1 fr)); 
   /*row-gap: 3px ; 
   column-gap: 3px;*/ 
   gap: 10px; 
   /*grid-template-rows: repeat(3, 1fr);*/ 
   /*align-items:center;*/ 
   
}
.item{
    background-color: rgb(39, 105, 130); 
    padding: 10px; 
    border:1px solid skyblue ; 
    font-size: 20px; 
    color: aliceblue;
} 
@media (max-width:500px){
    .container{
        grid-template-columns: 1fr;
    }
}